/* jeffery'

s code */
.welcome {
  width: 250px;
  height: 600px;
  background-color: black;
  opacity: 0.5;
  padding: 100px;
  text-align: center;
}

.button {
  top: 45%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.btn {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 2px solid gold;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s ease;
}
hr {
  margin: auto;
  width: 145px;
  height: 1.5px;
  background: rose;
  margin-bottom: 30px;
}

.logo img {
  float: left;
  width: 160px;
  height: 65px;
  position: absolute;
}

.main {
  position: fixed;
  max-width: 1500px;
  margin: auto;
		top: 0px;
		left: 0px;
		width: 100%;
		color: #CCC;
		background: black;
		padding: 8px;
		font-size: 1.2vw;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 10px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 2px solid transparent;
  transition: 0.5s ease;
}

ul li a:hover {
  background-color: red;
  color: #000;
}

.dropbtn {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border: 2px solid transparent;
  transition: 0.5s ease;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: #fff;
  opacity: .4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.5s ease;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.5s ease;
}

.dropdown-content a:hover {
  background-color: red;
  transition: 0.5s ease;
  
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.5s ease;
}

.dropdown:hover .dropbtn {
  background-color: red;
  color: #000;
  transition: 0.5s ease;
}

/* jason's code */
#myBtn {
  background-color: black;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 2px solid transparent;
  transition: 0.5s ease;
}
#myBtn:hover {
  background-color: red;
  color: #000;
}
.subscribe {
  margin-top: 15%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  font-size: 1.3vw;
}

.popupContent,
.popupContent-AU {
  background-color: white;
  margin: 15% auto;
  padding: 2%;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 200%;
  font-weight: bold;
  color: red;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.popupHeader,
.popupHeader-AU {
  padding: 2px 16px;
  background-color: rgb(0, 0, 0);
}

.popupBody,
.popupBody-AU {
  padding: 2px 16px;
}

.popupContent,
.popupContent-AU {
  position: relative;
  background-color: rgb(0, 0, 0);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 60%;
    opacity: 1;
  }
}
/* about us page */
.ftb {
  overflow: auto;
  padding: 1%;
  position: absolute;
  width: 78vw;
  height: 68vh;
  margin-left: 10vw;
  margin-top: 20vh;
  background-color: rgb(0, 0, 0, 0.75);
  position: absolute;
  animation-name: fancyshow;
  animation-fill-mode: forwards;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  text-align: center;
}
@keyframes fancyshow {
  from {
    top: -100vh;
  }
  to {
    top: 0%;
  }
}
#auh1 {
  text-align: center;
}
.au-ms {
  color: lightblue;
}
