@charset "utf-8";

* {
    padding: 0;
    font-size: 100%;
    margin: auto;
}

html {
    height: 100%;
}

/*Body*/
body {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;

    background: whitesmoke;

    box-shadow: rgb(51, 51, 51) 5px 0px 20px,  rgb(51, 51, 51) -5px 0px 20px,
    inset rgb(51, 21, 21) 0px 0px 20px;
    border-left: 3px solid rgb(51, 51, 51);
    border-right: 3px solid rgb(51, 51, 51);

    min-height: 100%;  
    margin: 0px auto;
    min-width: 320px;
    max-width: 1020px;  
    width: 100%;
}

ul, ol {
    list-style: none;
 }
 
 nav ul {
    list-style: none;
    list-style-image: none;
 }
 
 nav a {
    text-decoration: none;
 }
 
 

/*Header*/
header{
    background: rgb(0,99,0);
    background: linear-gradient(90deg, rgba(0,99,0,1) 0%, rgba(6,169,6,1) 100%);
    width: 100%;
    height: 14vh;
    display: flex;
  

}

header a {
    width: 100%;
    height: 14vh;
}

img.leftHeader {
    width: 32%;
    height: 100%;
}

img.mainHeader {
    width: 33%;
    height: 90%;
}

img.rigthHeader {
    width: 32%;
    height:  100%;
    transform: scaleX(-1);
    
}

/*Nav*/
nav {
    font-size: 1.2em;
    width: 100%;
}

nav ul li {
	background-color: black;	
	display: block;
	float: left;
	text-align: center;
	width: 25%;	
}

nav ul li a {
	color: white;	
	display: block;
	height: 1.5em;	
}

nav ul li a:hover{
    background: black url(ec_drflagEmoji.png) left/contain no-repeat;
    background-color: green;
}

/*Main*/
main {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(61, 61, 61, 0.5); 
    background: rgb(255, 247, 224);
    overflow: auto;
}

/*Footer*/

footer {
    text-align: center;
    background-color: black;
    color: white;
}


footer a {
    color: green;
    text-decoration: none;
    font-size: 0.9em;
    display: inline;
    padding: 10px;
 }
 
 footer a:hover {
    text-decoration: underline;
 }

 footer address {
    margin-top: 20px;
    font-style: normal;
 }
 
 @media only screen and (max-width: 640px) {

    header nav ul {
       display: none;
    }
    
    header nav ul li {
       font-size: 1em;
       line-height: 1.3em;
       height: 1.3em;
       
    }

    section h1 {
       font-size: 1.5em;
    }
    
    section p {
       font-size: 0.9em;
    }


 }

 @media only screen and (min-width: 641px) {

    body header nav ul {
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row nowrap;
       flex-flow: row nowrap;
       -webkit-justify-content: center;
       justify-content: center;
    }
    
    body header nav ul li {
       -webkit-flex: 0 1 auto;
       flex: 0 1 auto;
    }
 }
 