@charset "utf-8";
/*Main*/

/*Left Image*/
div#sideFlag {
    padding: 10px;
    margin: 0px;
    width: 25%;
    height: 100%;
    
}

div#sideFlag img{
    width: 100%;
    height: 100%;
}

/*Section  */
article {
    text-align: center;
    width: 50%;
    height: 80%;
}

article section h2{
    font-size: 5vh;
    padding-bottom: 5px;
}

article section p {
    font-weight: 400;
    line-height: 1.2em;
    margin: 10px 0px;
}

section#menu{
    width: 100%;
    
}

section#appetizers, section#mainCourse{
    padding: 20px;
    width: 100%;
}

section#appetizers h1, section#mainCourse h1{
    text-align: center;
    font-size: 4vh;
    border: dotted;
}

section#appetizers img, section#mainCourse img{
    width: 15%;
    
}

section#reservation {
    margin: 20px 3%;
 }

 section#reservation h1 {
    font-size: 2.5em;
    color: rgb(31, 20, 179);
    margin-bottom: 10px;
 }

 section#reservation p {
    line-height: 1.3em;
    margin: 10px 0px;
 }

/*Aside Section*/
aside {
    width: 25%;
    height: 100%;
}

p#specialPar{
    font-size: 3.6vh;
    
}

aside a img {
    width: 90%;
    height: 100%;
}

p#foodPar {
    text-align: center;
}
/*Bottom Links Div*/
div#bottomLinks {
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    padding-bottom: 10px;
}

div#bottomLinks a{
    text-decoration: none;
}