@charset "utf-8";




/*Bottom Links Div*/
div#bottomLinks {
    font-size: 1.2em;
    width: 60vh;
    height: auto;
}

div#bottomLinks ul li{
	display: flex;
	float: left;
	text-align: center;
    justify-content: space-around;
	width: 50%;	
}